{% extends "base.html" %}

{% block title %}Home - Flower Shop{% endblock %}

{% block content %}
    <body>
        <h1>Sample</h1>
        <!--Select Flowers in this section-->
        <form action="{{ url_for('add_to_cart' )}}" method="POST">
            <fieldset>
                <legend for="flower">Select Flowers</legend>
                <select name="flower" id="flower">
                    {% for flower, details in flowers.items() %}
                    <option value="{{ flower }}">{{ flower }} - ${{ details['price'] }}</option>
                    {% endfor %}
                </select>
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Add to Cart</button>
            </fieldset>
        </form>
        <h1>Add-Ons</h1>
        <!--Select Addons in this section-->
        <form action="{{ url_for('select_addon' )}}" method="POST">
            <fieldset>
                <legend>Add-ons</legend>
                {% for addon, data in addons.items() %}
                <label>
                    <input type="checkbox" name="addons" value="{{ addon }}">
                    {{ addon }} (${{ data.price }})
                </label><br>
                {% endfor %}
                <button type="submit">Add to Cart</button>
            </fieldset>
        </form>
        <h2>Your Cart</h2>
        <!--Displays the items selected in the cart-->
        {% if cart %}
            <ul>
                {% for item, details in cart.items() %}
                <li>
                    <!--Includes a Remove Item section-->
                    {{ item }}: {{ '%.2f' % details['quantity'] }} x ${{ details['price'] }}
                    = ${{ details['quantity'] * details['price'] }}
                    <a href="{{ url_for('remove_from_cart', item=item) }}">[Remove]</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
        <!--Flashes a specific message-->
            <p class="flashes">The cart does not have any item(s)</p>
        {% endif %}
        {% if selected_addons %}
        <!--When picking specific addon/s; no addons flashes a message, otherwise, posts -->
            <ul>
                {% for addon, details in selected_addons.items() %}
                 <li> {{ addon }} (${{ '%.2f' % details }}) </li>
                {% endfor %}
            </ul>
                {% else %}
                    <p>There are no addons.</p>
        {% endif %}
        <h2>Total: ${{'%.2f' % total}}</h2>
        <!--Lower End of the Form, After Cart, Proceed to Checkout or Cancellation-->
        <form method="POST">
            <label for="customer_name_checkout">Your Name:</label>
            <input type="input" name="customer_name" id="customer_name_checkout" required></br></br>
            <button type="submit" formaction="{{ url_for('cancel_order') }}" onclick="return confirm('Proceed to Checkout?')">Checkout</button>
            <button type="submit" formaction="{{ url_for('cancel_order') }}" onclick="return confirm('This will clear out your order. Are you sure?')">Cancel Order</button>
        </form>
        <!--Flashes a message based on the action-->>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
{% endblock %}